.Authors{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 152px);
    padding: 20px;
}

.Authors h2{
    color: rgba(0, 0, 0, 0.55);
    padding: 40px;
}

.Authors img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 25%;
    margin-right: 16px;
}

.Authors .container-list{
    display: flex;
    align-items: center;
}

.Authors .container-list:hover{
    opacity: 0.4;
}

.Authors .authorslist{
    padding: 20px;
}

.Authors a{
    text-decoration: none;
}



@media(min-width: 1024px){
    .Authors .list-group{
        width: 980px;
    }
}