.search-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #529FB8;
    font-weight: 500;
}

.container-logo:hover{
    color: #068BB7;
}

.container-logo img{
    margin-right: 5px;
}

.container-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 40px;
    border: 1px solid #D5D8DC;
    border-radius: 12px;
    box-shadow: 5px 5px 6px 4px #D5D8DC;

}

.title{
    color: #529FB8;
}

.container-search h3{
    margin-bottom: 40px;
}

.btn-search{
    border-style: none;
    background-color: transparent;
    border-radius: 12px;
    color: #529FB8;
    border: 1px solid #529FB8;
    padding: 12px;
}

.btn-search:hover{
    background-color: #529FB8;
    color: #fff;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(213, 216, 220, 0.3);
    padding: 28px;
}


@media(min-width: 1024px){
    .container-search{
        width: 50%;
        height: 400px;
    }
}